<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
</head>
<body>
	<header class="bg-primary text-center py-5 mb-4">
  <div class="container">
    <h1 class="font-weight-light text-white">Meet the Team</h1>
  </div>
</header>

<!-- Page Content -->
<form action = "/" method = "GET" 
         enctype = "multipart/form-data">
<div class="container">
  <div class="row">
    <!-- Team Member 1 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="static/t.png" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Rohit Ghodke</h5>
          <div class="card-text text-black-50">Developer</div>
          <br>
            <h6>Mail me at:<br><a href="">ghodkerohit999@gmail.com</a></h6>
        </div>
      </div>
    </div>
    <!-- Team Member 2 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="static/t.png" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Vishrut Kulkarni</h5>
          <div class="card-text text-black-50">Developer</div>
          <br>
            <h6>Mail me at:<br><a href="">vishrutkulkarni@gmail.com</a></h6>
        </div>
      </div>
    </div>
    <!-- Team Member 3 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="static/t3.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Priyanka Gandhi</h5>
          <div class="card-text text-black-50">Developer</div>
          <br>
            <h6>Mail me at:<br><a href="">gandhi@gmail.com</a></h6>
        </div>
      </div>
    </div>
    <!-- Team Member 4 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="static/t3.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Shrusti Deshmukh</h5>
          <div class="card-text text-black-50">Developer</div>
          <br>
            <h6>Mail me at:<br><a href="">deshmukh@gmail.com</a></h6>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
<div class="col-md-3 mx-auto" style="padding-top: 15%">
    <h4>Want to go back to Home Page?</h4>
    <button class="btn btn-success" type="submit" style="margin-left: 20%; width: 30%"><strong>Home</strong></button>
    <br>
    <br>
  </div>
</div>
<!-- /.container -->

  </form>
	
  <script type="text/javascript" src="static/js/jquery-3.5.0.slim.min.js"></script>
	<script type="text/javascript" src="static/js/bootstrap.bundle.min.js"></script>
</body>
</html>