<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
</head>
<body>
	<header class="bg-primary text-center py-5 mb-4">
  <div class="container">
    <h1 class="font-weight-light text-white">Result</h1>
  </div>
</header>
	<form action="/contact" method = "GET" enctype = "multipart/form-data">

	<div class="container">
		<h4 style="color: red;">Note:</h4>
		<ul>
			<li> <h5>Result will be stored in output folder.</h5></li>
			<li> <h5>Result image will have patient's name.</h5></li>
		</ul>
	</div>
	<div class="col-md-3 mx-auto" style="padding-top: 15%">
		<h4>Want to contact us?</h4>
		<button class="btn btn-success" type="submit" style="margin-left: 20%; width: 30%"><strong>Contact</strong></button>
	</div>
</form>
	<script type="text/javascript" src="static/js/jquery-3.5.0.slim.min.js"></script>
	<script type="text/javascript" src="static/js/bootstrap.bundle.min.js"></script>
</body>
</html>